/* .header{
    width: 100%;
    height: 70px;
    line-height: 70px;
} */

.header__container{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100%;
}

.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.logo img {
    width: 25px;
    height: 25px;
}

.logo h1 {
    font-size: 22px;
    font-weight: 700;
    align-items: center;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 0px;
}

.nav__item a {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.badge {
    position: absolute;
    top: 5%;
    right: -5%;
    width: 15px;
    height: 15px;
    content: '';
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    font-weight: 600;
    z-index: 10;
    cursor: pointer;
}

.nav__icons span i {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--primary-color);
}

.fav__icon, .cart__icon {
    position: relative ;
} 

.nav__icons .profile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.nav__icons .profile {
    position: relative;
    z-index: 9;
}

.nav__icons .profile .profile__action{
    position: absolute;
    top: 95%;
    left: 0;
    width: 100px;
    z-index: 10;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    line-height: 30px;
    display: none;
    cursor: pointer;
}

.menu__Profile a{
    color: #000;
    text-decoration: none !important;
}

.show__profileAction{
    display: block !important;
}

.mobile__menu {
    font-size: 1.2rem;
    color: var(--primary-color);
    display: none;
}

.nav__active{
    font-weight: 700 !important;
}

.sticky__header {
    width: 100%;
    height: 70px;
    padding-top: 6px;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 3px 3px 8px -3px #ddd;
}

@media only screen and (max-width: 768px){
    
    .navigation{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0, 0, 0, 0.53);
        z-index: 9999;
    }

    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        z-index: 99999;
    }

    .nav__item {
        margin: 15px 0;
    }

    .nav__active{
        display: block;
    }

    .mobile__menu{
        display: block;
    }

    .mobile__menu span i{
        font-size: 1.5rem !important;
    }

    .logo img {
        width: 1rem;
        height: 1rem;
    }

    .logo h1{
        padding: 2px;
        margin: 5px;
        font-size: 0.7rem;
    }

    .fav__icon i, .cart__icon i{
        font-size: 1.3rem !important;
    }

    .nav__icons span img{
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 5px;
    }
}